@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-backdrop {
    backdrop-filter: blur(8px) !important;
    background-color: rgba(30, 41, 59, 0.3) !important;
}

.modal::backdrop {
    backdrop-filter: blur(8px) !important;
    background-color: rgba(30, 41, 59, 0.3) !important;
}

dialog::backdrop {
    backdrop-filter: blur(8px) !important;
    background-color: rgba(30, 41, 59, 0.3) !important;
}
  